# Lesiones en accidente de tránsito 2017Seguridad y Defensa

Lesiones en accidente de tránsito (del 01 de enero al 31 de agosto año 2017). 
Fuente: Grupo Información de Criminalidad (GICRI) - DIJIN. Información preliminar, datos extraídos el 03 de septiembre de 2017, sujeto a variación.

* (API socrata)

In [1]:
import pandas as pd
print(pd.__version__)

0.20.3

In [2]:
df = pd.read_json("https://www.datos.gov.co/resource/fm52-k29d.json")

## Los primeros cuatro datos:

In [5]:
df.head(4)

,arma_empleada,barrio,c_digo_dane,cantidad,clase_de_empleado,clase_de_sitio,d_a,departamento,edad,escolaridad,estado_civil,fecha,hora,m_vil_agresor,m_vil_victima,municipio,pa_s_de_nacimiento,profesi_n,sexo,zona
0,SIN EMPLEO DE ARMAS,VILLA DEL RIO CASAS BLANCAS,5045000,1,EMPLEADO PARTICULAR,VIAS PUBLICAS,Domingo,ANTIOQUIA,26,PRIMARIA,UNION LIBRE,2017-01-01T00:00:00.000,1899-12-31T09:05:00.000,A PIE,A PIE,APARTADÓ,COLOMBIA,-,MASCULINO,URBANA
1,VEHICULO,GARRAPATA,5051000,2,INDEPENDIENTE,VIAS PUBLICAS,Domingo,ANTIOQUIA,24,SECUNDARIA,SOLTERO,2017-01-01T00:00:00.000,1899-12-31T15:20:00.000,CONDUCTOR VEHICULO,PASAJERO VEHICULO,ARBOLETES,COLOMBIA,-,MASCULINO,RURAL
2,VEHICULO,GARRAPATA,5051000,1,INDEPENDIENTE,VIAS PUBLICAS,Domingo,ANTIOQUIA,51,SECUNDARIA,SOLTERO,2017-01-01T00:00:00.000,1899-12-31T15:20:00.000,CONDUCTOR VEHICULO,PASAJERO VEHICULO,ARBOLETES,COLOMBIA,-,FEMENINO,RURAL
3,VEHICULO,GARRAPATA,5051000,1,INDEPENDIENTE,VIAS PUBLICAS,Domingo,ANTIOQUIA,59,SECUNDARIA,SOLTERO,2017-01-01T00:00:00.000,1899-12-31T15:20:00.000,CONDUCTOR VEHICULO,PASAJERO VEHICULO,ARBOLETES,COLOMBIA,-,MASCULINO,RURAL

## Ver cuantas filas y columnas tiene el data set

In [6]:
df.shape

(1000, 20)

### Retorna estadisticas de las columnas númericas en el dataset

In [7]:
df.describe()

        c_digo_dane    cantidad
count  1.000000e+03  1000.00000
mean   3.906638e+07     1.05000
std    2.781191e+07     0.27491
min    5.001000e+06     1.00000
25%    1.300100e+07     1.00000
50%    2.557200e+07     1.00000
75%    7.027025e+07     1.00000
max    9.500100e+07     4.00000

### De esta forma podemos ver los tipos de datos en el dataset

In [8]:
df.dtypes

arma_empleada         object
barrio                object
c_digo_dane            int64
cantidad               int64
clase_de_empleado     object
clase_de_sitio        object
d_a                   object
departamento          object
edad                  object
escolaridad           object
estado_civil          object
fecha                 object
hora                  object
m_vil_agresor         object
m_vil_victima         object
municipio             object
pa_s_de_nacimiento    object
profesi_n             object
sexo                  object
zona                  object
dtype: object

* Esta consulta al dataset aun nos da problemas

In [14]:
df.drop("c_digo_dane", axis=1).describe(include="all")

,arma_empleada,barrio,cantidad,clase_de_empleado,clase_de_sitio,d_a,departamento,edad,escolaridad,estado_civil,fecha,hora,m_vil_agresor,m_vil_victima,municipio,pa_s_de_nacimiento,profesi_n,sexo,zona
count,1000,1000,1000.00000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,7,441,NaN,12,7,6,28,85,8,7,8,242,8,9,228,4,9,3,2
top,VEHICULO,BELLA SUIZA E-1,NaN,EMPLEADO PARTICULAR,VIAS PUBLICAS,Domingo,CUNDINAMARCA,-,SECUNDARIA,SOLTERO,2017-01-01T00:00:00.000,1899-12-31T00:00:00.000,CONDUCTOR VEHICULO,A PIE,BOGOTÁ D.C. (CT),COLOMBIA,-,MASCULINO,URBANA
freq,505,100,NaN,603,608,343,184,146,571,675,343,70,486,351,105,786,969,627,674
mean,NaN,NaN,1.05000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.27491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,4.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Media de una columna en especifico

In [21]:
df.cantidad.mean()

1.05

### Mediana de una columna en especifico

In [23]:
df.cantidad.median()

1.0

### Moda de una columna en especifico

In [25]:
df.cantidad.mode()

0    1
dtype: int64

### Total del valores en la columna

In [27]:
df.barrio.count()

1000

### Array de todos los valores unicos en esa columna

In [29]:
df.departamento.unique()

array(['ANTIOQUIA', 'ATLÁNTICO', 'BOLÍVAR', 'BOYACÁ', 'CALDAS', 'CAQUETÁ',
       'CASANARE', 'CAUCA', 'CESAR', 'CÓRDOBA', 'CUNDINAMARCA', 'GUAJIRA',
       'HUILA', 'MAGDALENA', 'META', 'NARIÑO', 'NORTE DE SANTANDER',
       'TOLIMA', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA', 'SAN ANDRÉS',
       'SANTANDER', 'SUCRE', 'VALLE', 'CHOCÓ', 'ARAUCA', 'GUAVIARE'], dtype=object)

### Objeto con la cuenta de valores únicos

In [32]:
df.departamento.value_counts()

CUNDINAMARCA          184
VALLE                 131
ANTIOQUIA             108
TOLIMA                 87
SANTANDER              54
HUILA                  42
CAUCA                  42
BOYACÁ                 40
CÓRDOBA                35
ATLÁNTICO              32
BOLÍVAR                31
CALDAS                 30
NARIÑO                 26
RISARALDA              26
META                   24
SUCRE                  20
CESAR                  20
QUINDÍO                15
NORTE DE SANTANDER     15
CASANARE               11
GUAJIRA                 7
CAQUETÁ                 6
MAGDALENA               4
PUTUMAYO                3
CHOCÓ                   2
SAN ANDRÉS              2
ARAUCA                  2
GUAVIARE                1
Name: departamento, dtype: int64

In [26]:
df.head(4)

,arma_empleada,barrio,c_digo_dane,cantidad,clase_de_empleado,clase_de_sitio,d_a,departamento,edad,escolaridad,estado_civil,fecha,hora,m_vil_agresor,m_vil_victima,municipio,pa_s_de_nacimiento,profesi_n,sexo,zona
0,SIN EMPLEO DE ARMAS,VILLA DEL RIO CASAS BLANCAS,5045000,1,EMPLEADO PARTICULAR,VIAS PUBLICAS,Domingo,ANTIOQUIA,26,PRIMARIA,UNION LIBRE,2017-01-01T00:00:00.000,1899-12-31T09:05:00.000,A PIE,A PIE,APARTADÓ,COLOMBIA,-,MASCULINO,URBANA
1,VEHICULO,GARRAPATA,5051000,2,INDEPENDIENTE,VIAS PUBLICAS,Domingo,ANTIOQUIA,24,SECUNDARIA,SOLTERO,2017-01-01T00:00:00.000,1899-12-31T15:20:00.000,CONDUCTOR VEHICULO,PASAJERO VEHICULO,ARBOLETES,COLOMBIA,-,MASCULINO,RURAL
2,VEHICULO,GARRAPATA,5051000,1,INDEPENDIENTE,VIAS PUBLICAS,Domingo,ANTIOQUIA,51,SECUNDARIA,SOLTERO,2017-01-01T00:00:00.000,1899-12-31T15:20:00.000,CONDUCTOR VEHICULO,PASAJERO VEHICULO,ARBOLETES,COLOMBIA,-,FEMENINO,RURAL
3,VEHICULO,GARRAPATA,5051000,1,INDEPENDIENTE,VIAS PUBLICAS,Domingo,ANTIOQUIA,59,SECUNDARIA,SOLTERO,2017-01-01T00:00:00.000,1899-12-31T15:20:00.000,CONDUCTOR VEHICULO,PASAJERO VEHICULO,ARBOLETES,COLOMBIA,-,MASCULINO,RURAL